@import '../../components/settings';
.board-content {
  // border: 2px dashed  yellow;
  height: 90vh;
  display: flex;
  overflow-x: auto;

  .add-new-column {
    max-width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .enter-add-column {
    width: 250px;
    max-width: 250px;
    // .inp-enter-new-column {
     
    // }

    // .add-cancle{
  
    // }
  }


    //ten khoang trang la con , con lai la nhieu class noi nhau

  
}
