li.card-item {
    background-color: white;
    padding: 10px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    img.card-cover {
      display: block;
      width: calc(100% + 2 * 10px);
      margin: -10px 0 10px -10px;
      border-top-right-radius: 4px;
    }
  }