@import '../../components/settings';
.column {
  border: 1px solid red !important;
  flex: 0 0 auto;
  width: 300px;
  margin-left: 10px;
  height: 300px;
  //overlow y thi column phai co height

  > * {
    background-color: #ebecf0;
    color: #333;
    padding-left: 0 8px;
  }
  header {
    padding-left: 15px;
    height: 35px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: 5px;
  }
  footer {
    padding-left: 10px;
    height: 35px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    border-top-right-radius: 5px;
    .footer-actions {
      margin-left: 10px;
      cursor: pointer;
      &:hover {
        color: darkblue;
      }
    }
  }
  .card-list {
    margin: 0;
    overflow-y: auto;
    max-height: calc(100% - 10px);

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 11px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken(black, 15);
    }

    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
    }

    .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
    }
    .card-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;
    }
  }
}
