@import '~bootstrap/scss/bootstrap';
@import './components/settings.scss';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  line-height: 1.3rem;
}
.trello-main-app {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;

  .icon {
    font-size: 14px;
    margin-right: 3px;
  }
  * {
    border: 1px solid;
    border-color: green;
  }
  .btcontainer {
    padding: 0;
    margin: 0;
  }
  .cancle-icon {
    margin-left: 10px;
    i {
      color: red;
      font-size: 1.2rem;
      &:hover {
        color: darken($color: red, $amount: 10);
      }
    }
  }
}
