@import "./components/settings.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  line-height: 1.3rem;
}
.trello-main-app {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;

  * {
    border: 1px solid;
    border-color: green;
  }




}
